extends layout

block content
  h1= title

  p #[strong Description]: #{ category.description }

  div
    h2 Items in this Category

    if items.length > 0
      .items
        each item in items
          .item-detail
            p #[strong Species]: #{ item.name }
            p #[strong Description:] #{ item.description }
            a(href=item.url) View more details

    else
      p There are no items in this category.

  p
    a(href=category.url + "/update") Update Category
  p
    a(href=category.url + "/delete") Delete Category
